@charset "UTF-8";
.top .slick-dots li {
  border: 1px solid #333839;
  border-radius: 100px;
  background-color: transparent;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #e4ebe8;
}
@media (max-width: 1000px) {
  .top .slick-dots li {
    height: auto;
    width: 1.8rem;
    margin: 0 0.5rem;
    padding-bottom: 0.3rem;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #e4ebe8;
    background-color: transparent;
    text-align: center;
  }
  .top .slick-dots li.slick-active {
    height: auto;
    width: 3.2rem;
    border-bottom: 2px solid #467960;
    background-color: transparent;
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .top .slick-dots li.slick-active {
    width: 1.8rem;
  }
}
.top .slick-dots .slick-active {
  background-color: #333839;
}
.top .slick-arrow {
  background-color: #ccc;
}
.top .slick-arrow::after {
  border-color: #fff;
}
.top_slider .slick-dots li {
  border: none;
  border-radius: 100px;
  background-color: transparent;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #e4ebe8;
}
@media (max-width: 1000px) {
  .top_slider .slick-dots li {
    border: none;
    background-color: #e4ebe8;
    text-align: center;
  }
  .top_slider .slick-dots li.slick-active {
    height: 1.2rem;
    width: 1.2rem;
    border-bottom: 1px solid #333839;
    background-color: #467960;
  }
}
.top_movie_slider {
  width: 100%;
}
.top_movie_slider .slick-arrow {
  border-color: #fff !important;
  background-color: #ccc;
}

@media (min-width: 1001px) {
  .top_movie_slider .slick-arrow {
    top: 21rem;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 1000px) {
  .top_movie_slider .slick-arrow {
    top: 7rem;
  }
}
@media (max-width: 1000px) {
  .top_movie_slider .slick-prev {
    left: -1.5rem;
  }
}
@media (max-width: 1000px) {
  .top_movie_slider .slick-next {
    right: -1.5rem;
  }
}
.top_movie_slider .slick-dots {
  bottom: 0;
}
@media (max-width: 1000px) {
  .top_movie_slider .slick-dots {
    bottom: 0rem !important;
  }
}
.top_movie_slider .slick-dots li {
  height: auto;
  width: 3.2rem;
  margin: 0 0.5rem;
  padding-bottom: 0.3rem;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #e4ebe8;
  background-color: transparent;
  text-align: center;
}
@media (max-width: 1000px) {
  .top_movie_slider .slick-dots li {
    width: 1.8rem;
  }
}
.top_movie_slider .slick-dots li.slick-active {
  height: auto;
  width: 3.2rem;
  border-bottom: 2px solid #467960;
  background-color: transparent;
}
@media (max-width: 1000px) {
  .top_movie_slider .slick-dots li.slick-active {
    width: 1.8rem;
  }
}
.top_movie_slider .slick-dots li.slick-active button {
  color: #467960;
  font-weight: bold;
}
.top_movie_slider .slick-dots li button {
  color: #e4ebe8;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 1.6rem;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .top_movie_slider .slick-dots li button {
    padding: 0;
    font-size: 1.2rem;
  }
}

.shop {
  color: #333839;
}
.shop_bg-primary {
  background-color: #467960;
}
.shop_bg-primary-l {
  background-color: rgba(70, 121, 96, 0.25);
}
.shop_bg-dark {
  background-color: #333839;
}
.shop_bg-dark-l {
  background-color: rgba(51, 56, 57, 0.25);
}
.shop_bg-light {
  background-color: rgba(5, 74, 40, 0.5);
}
.shop_bg-light-l {
  background-color: rgba(5, 74, 40, 0.25);
}
.shop_bg-exlight {
  background-color: #e4ebe8;
}
.shop_bg-exlight-l {
  background-color: rgba(228, 235, 232, 0.25);
}
.shop_bg-bg {
  background-color: #f9f9f9;
}
.shop_bg-bg-l {
  background-color: rgba(249, 249, 249, 0.25);
}
.shop_bg-k {
  background-color: #333;
}
.shop_bg-k-l {
  background-color: rgba(51, 51, 51, 0.25);
}
.shop_bg-g {
  background-color: #979da3;
}
.shop_bg-g-l {
  background-color: rgba(151, 157, 163, 0.25);
}
.shop_bg-w {
  background-color: #fff;
}
.shop_bg-w-l {
  background-color: rgba(255, 255, 255, 0.25);
}
.shop_bg-all {
  background-color: #b6b6b6;
}
.shop_bg-all-l {
  background-color: rgba(182, 182, 182, 0.25);
}
.shop_bg-desk {
  background-color: #84878e;
}
.shop_bg-desk-l {
  background-color: rgba(132, 135, 142, 0.25);
}
.shop_bg-haircare {
  background-color: #99b6a5;
}
.shop_bg-haircare-l {
  background-color: rgba(153, 182, 165, 0.25);
}
.shop_bg-ec {
  background-color: #85cdd9;
}
.shop_bg-ec-l {
  background-color: rgba(133, 205, 217, 0.25);
}
.shop_bg-ticket {
  background-color: #88c67b;
}
.shop_bg-ticket-l {
  background-color: rgba(136, 198, 123, 0.25);
}
.shop_bg-beauty {
  background-color: #ed7ea0;
}
.shop_bg-beauty-l {
  background-color: rgba(237, 126, 160, 0.25);
}
.shop_bg-gourmet {
  background-color: #f0ad4d;
}
.shop_bg-gourmet-l {
  background-color: rgba(240, 173, 77, 0.25);
}
.shop_bg-farm {
  background-color: #bd987a;
}
.shop_bg-farm-l {
  background-color: rgba(189, 152, 122, 0.25);
}
.shop_bg-fanclub {
  background-color: #fa7033;
}
.shop_bg-fanclub-l {
  background-color: rgba(250, 112, 51, 0.25);
}
.shop_bg-grad {
  background: url("../../img/shop_botanical/grad.svg") top/100% 100% no-repeat;
}
@media (max-width: 1000px) {
  .shop_bg-grad {
    background: url("../../img/shop_botanical/grad-sp.png") top/100% 100% no-repeat;
  }
}
.shop_fill-primary .fill1 {
  fill: #467960;
}
.shop_fill-primary .fill2 {
  fill: black;
}
.shop_fill-dark .fill1 {
  fill: #333839;
}
.shop_fill-dark .fill2 {
  fill: black;
}
.shop_fill-light .fill1 {
  fill: rgba(5, 74, 40, 0.5);
}
.shop_fill-light .fill2 {
  fill: rgba(0, 0, 0, 0.5);
}
.shop_fill-exlight .fill1 {
  fill: #e4ebe8;
}
.shop_fill-exlight .fill2 {
  fill: #59776a;
}
.shop_fill-bg .fill1 {
  fill: #f9f9f9;
}
.shop_fill-bg .fill2 {
  fill: #7a7a7a;
}
.shop_fill-k .fill1 {
  fill: #333;
}
.shop_fill-k .fill2 {
  fill: black;
}
.shop_fill-g .fill1 {
  fill: #979da3;
}
.shop_fill-g .fill2 {
  fill: #1c1e1f;
}
.shop_fill-w .fill1 {
  fill: #fff;
}
.shop_fill-w .fill2 {
  fill: gray;
}
.shop_fill-all .fill1 {
  fill: #b6b6b6;
}
.shop_fill-all .fill2 {
  fill: #373737;
}
.shop_fill-desk .fill1 {
  fill: #84878e;
}
.shop_fill-desk .fill2 {
  fill: #09090a;
}
.shop_fill-haircare .fill1 {
  fill: #99b6a5;
}
.shop_fill-haircare .fill2 {
  fill: #212f27;
}
.shop_fill-ec .fill1 {
  fill: #85cdd9;
}
.shop_fill-ec .fill2 {
  fill: #174148;
}
.shop_fill-ticket .fill1 {
  fill: #88c67b;
}
.shop_fill-ticket .fill2 {
  fill: #182e14;
}
.shop_fill-beauty .fill1 {
  fill: #ed7ea0;
}
.shop_fill-beauty .fill2 {
  fill: #5f0d26;
}
.shop_fill-gourmet .fill1 {
  fill: #f0ad4d;
}
.shop_fill-gourmet .fill2 {
  fill: #392405;
}
.shop_fill-farm .fill1 {
  fill: #bd987a;
}
.shop_fill-farm .fill2 {
  fill: #251b13;
}
.shop_fill-fanclub .fill1 {
  fill: #fa7033;
}
.shop_fill-fanclub .fill2 {
  fill: #2d0f01;
}
.coupon_line {
  border-bottom:1px solid #7A7E7C;
}
.shop .coupon-item-count {
  color:#7A7E7C;
}
.shop .coupon-subject {
  color:#7A7E7C;
}
.shop .coupon_heading h2 {
  font-family: serif;
}
@media (min-width: 1001px) {
  .shop .header {
    background-color: #fff;
  }
}
.shop .header_nav_global li {
  color: #333;
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 16px;
  text-transform: uppercase;
}
.shop .header_nav_global > li ul,
.header_nav_sub .header_nav_sub_online_shop > ul{
  background-color: rgba(228, 235, 232, 0.95);
}
.shop .header_nav_global > li ul li a:hover,
.header_nav_sub .header_nav_sub_online_shop > ul li a:hover{
  background-color: rgba(70, 121, 96, 0.15);
}
.shop .header_nav_global > li > ul,
.header_nav_sub .header_nav_sub_online_shop > ul {
  background-color: rgba(228, 235, 232, 0.95);
}
.header_nav_sub .header_nav_sub_online_shop > ul > li > ul {
  background-color: rgba(228, 235, 232, 0.95);
}
.shop .header_nav_sub_shop {
  min-height: 18px;
  min-width: 100px;
  width: 9vw;
  background: url("../../img/shop_botanical/header/shop_menu.svg?20230403") center/contain no-repeat;
}
.shop .header_hum {
  border-radius: 3px;
  background: url("../../img/shop_botanical/icons/hum.svg") center/2rem no-repeat;
  background-color: #95b2a4;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.shop .drawer {
  background-color: #e4ebe8;
}
.shop .drawer_page {
  background-color: #e4ebe8;
}
.shop .drawer_controll_close {
  border-radius: 3px;
  background: url("../../img/shop_botanical/icons/close.svg") center/2rem no-repeat;
  background-color: rgba(5, 74, 40, 0.5);
}
.shop .drawer_header_heading_prev {
  background: url("../../img/shop_botanical/icons/chevron-left.svg") center/1rem no-repeat;
}
.shop .drawer_header_logo {
  text-align: center;
}
.shop .drawer_header_fan {
  border: 1px solid #7a7e7c;
  background-color: rgba(255, 255, 255, 0.5);
  color: #7a7e7c;
}
.shop .drawer_header_fan path {
  fill: #7a7e7c;
}
.shop .drawer_header_fan.active {
  color: #fff;
  background-color: #7a7e7c;
}
.shop .drawer_header_fan.active path {
  fill: #fff;
}
.shop .drawer_header_mailmag {
  border: 1px solid #7a7e7c;
  background-color: rgba(255, 255, 255, 0.5);
  color: #7a7e7c;
}
.shop .drawer_header_mailmag path {
  fill: #7a7e7c;
}
.shop .drawer_header_mailmag.active {
  color: #fff;
  background-color: #7a7e7c;
}
.shop .drawer_header_mailmag.active path {
  fill: #fff;
}
.shop .drawer_header_fav {
  border: 1px solid #7a7e7c;
  background-color: rgba(255, 255, 255, 0.5);
  color: #7a7e7c;
}
.shop .drawer_header_fav path {
  fill: #7a7e7c;
}
.shop .drawer_header_fav.active {
  color: #fff;
  background-color: #7a7e7c;
}
.shop .drawer_header_fav.active path {
  fill: #fff;
}
.shop .drawer_header_heading {
  color: #467960;
  font-family: "Playfair Display", serif;
}
.shop .drawer_list {
  border-bottom: 1px solid #fff;
  color: #467960;
  font-family: "Playfair Display", serif;
}
.shop .drawer_list li {
  border-top: 1px solid #fff;
}
.shop .drawer_list_next::after {
  background: url("../../img/shop_botanical/icons/chevron-right.svg") center/contain no-repeat;
}
.shop .drawer_footer a {
  display: inline-block;
  height: 2.8rem;
  width: 14rem;
  background: url("../../img/shop_botanical/header/shop.svg") center/contain no-repeat;
}
.shop .drawer_list_onlineshop_logo,
.shop .drawer_header_onlineshop_logo {
  background-image: url("../../img/shop_botanical/header/shop_menu.svg?20230403");
}
.shop .tabbar {
  border-top: 1px solid rgba(70, 121, 96, 0.25);
  background-color: rgba(255, 255, 255, 0.9);
}
.shop .tabbar path {
  fill: #383b3d;
}
.shop .l-footer .shop-footer {
  background-color: #e4ebe8;
  color: #333;
}
.shop .l-footer .shop-footer .shop-footer_info-img a {
  background-image: url("../../img/shop_botanical/footer/logo.svg?2");
}

.shop_list.new::after {
  background: url("../../img/shop_botanical/icons/new.svg") top no-repeat;
}
.shop_list_point {
  border: 1px solid #979da3;
  color: #979da3;
  background-color: #fff;
}
.shop_list img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  border-radius: 0;
}
.shop_breadcrumb ul li:not(:first-of-type)::before {
  background: url("../../img/shop_botanical/icons/chevron-right.svg") center no-repeat;
}
.shop_heading {
  color: rgba(5, 74, 40, 0.5);
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 54px;
  font-weight: normal;
}
@media (max-width: 1000px) {
  .shop_heading {
    font-size: 3rem;
  }
}
.shop_heading-2 {
  color: rgba(5, 74, 40, 0.5);
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.025em;
}
@media (max-width: 1000px) {
  .shop_heading-2 {
    font-size: 3rem;
  }
}
.shop_txt {
  color: #467960;
}
.shop_pagination ul li a {
  background-color: rgba(70, 121, 96, 0.2);
}
.shop_pagination ul li a:not([href]) {
  background-color: #7a7e7c;
  color: #fff;
}
.shop .pagetop {
  height: 48px;
  width: 48px;
  background: url("../../img/shop_botanical/pagetop.svg");
}

.shop .top_heading, .shop .top_coupon_heading, .shop .top_news_heading, .shop .top_blog_heading, .shop .top_product_heading, .shop .top_pickup_heading, .shop .top_fanclub_news_heading {
  padding-top: 40px;
  margin-bottom: 35px;
  color: rgba(5, 74, 40, 0.4);
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 5.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
@media (max-width: 1000px) {
  .shop .top_heading, .shop .top_coupon_heading, .shop .top_news_heading, .shop .top_blog_heading, .shop .top_product_heading, .shop .top_pickup_heading, .shop .top_fanclub_news_heading {
    margin-bottom: 2.5rem;
    padding-top: 2rem;
    font-size: 4rem;
  }
  .shop .top_heading {
    font-size: 3rem;
  }
}

.shop .top_movie_heading {
  margin-bottom: 35px;
  color: rgba(5, 74, 40, 0.4);
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 5.4rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
}
.shop .top_movie_heading::after {
  content: "ムービー";
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
}
.shop .top_txt {
  margin-left: 15px;
  margin-right: 15px;
  color: rgba(5, 74, 40, 0.5);
}
.shop .top_more {
  margin-top: 4rem;
}
@media (max-width: 1000px) {
  .shop .top_more {
    margin-top: 3rem;
  }
}
.shop .top_more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.shop .top_more a::after {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 2rem;
  background: url("../../img/shop_botanical/icons/chevron-right.svg") center no-repeat;
}
.shop .top_overview {
  display: block;
  margin-top: 30px;
  padding: 0 55px 65px;
}
@media (max-width: 1000px) {
  .shop .top_overview {
    margin-top: 4.5rem;
    padding: 0 1.5rem;
    text-align: center;
    padding: 0 1.5rem;
  }
}
.shop .top_overview_logo img {
  width: 19rem;
}
@media (min-width: 1001px) {
  .shop .top_overview_logo img {
    padding-top: 0;
  }
}
@media (max-width: 1000px) {
  .shop .top_overview_logo img {
    width: 16.4rem;
  }
}
@media (min-width: 1001px) {
  .shop .top_overview_body {
    width: 1028px;
    margin-top: 30px;
    margin-left: 0;
  }
}
.shop .top_overview_heading {
  font-family: serif;
}
@media (max-width: 1000px) {
  .shop .top_overview_txt {
    line-height: 1.8;
  }
}
.shop .top_overview_sns {
  margin-top: 30px;
}
.shop .top_overview_sns_cal {
  display: inline-block;
  height: 20px;
  width: 130px;
  background: url("../../img/shop_botanical/top/shop_calendar.svg") center no-repeat;
}
.shop .top_feature {
  padding: 75px 0 80px;
}
@media (min-width: 1001px) {
  .shop .top_feature {
    width: 1232px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1000px) {
  .shop .top_feature {
    padding: 4rem 2.5rem 2rem;
  }
}
.shop .top_feature_heading {
  padding-top: 4rem;
  margin-bottom: 35px;
  color: rgba(5, 74, 40, 0.4);
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 5.4rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
}
.shop .top_feature_heading::after {
  content: "特集";
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
}

@media (max-width: 1000px) {
  .shop .top_feature_heading {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }
}
.shop .top_feature figcaption {
  font-family: serif;
}
@media (max-width: 1000px) {
  .shop .top_feature figcaption {
    letter-spacing: 0;
  }
}
.shop .top_pickup {
  padding: 40px 0 80px;
}
@media (min-width: 1001px) {
  .shop .top_pickup {
    width: 1232px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1000px) {
  .shop .top_pickup {
    padding: 5rem 2.5rem 6rem;
  }
}
.shop .top_pickup_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.8rem;
  text-align: left;
  padding-top: 40px;
  margin-bottom: 0;
}
.top_pickup_heading_wrapper {
  margin-bottom: 35px;
}
.top_pickup_heading_wrapper::after {
  content: "ピックアップアイテム";
  display: block;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  color: rgba(5, 74, 40, 0.4);
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .shop .top_pickup_heading {
    font-size: 3rem;
  }
}
.shop .top_pickup_heading::after {
  content: "";
  display: block;
  height: 1px;
  width: 26.1rem;
  margin-left: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(5, 74, 40, 0.55)), color-stop(35.96%, rgba(211, 223, 217, 0.92)), to(#fff));
  background: linear-gradient(to right, rgba(5, 74, 40, 0.55) 0%, rgba(211, 223, 217, 0.92) 35.96%, #fff 100%);
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .shop .top_pickup_heading::after {
    width: 10rem;
    margin-left: 0.5rem;
  }
}
.shop .top_pickup .top_heading-left {
  font-size: 3rem;
}
.shop .top_movie {
  padding-bottom: 6rem;
}
@media (min-width: 1001px) {
  .shop .top_movie {
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1000px) {
  .shop .top_movie_heading {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }
}
.shop .top_movie_item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 1001px) {
  .shop .top_movie_item {
    padding-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .shop .top_movie_item_inner {
    padding: 2rem 2rem 3rem;
  }
}
@media (min-width: 1001px) {
  .shop .top_movie_item_inner {
    padding: 32px 0;
  }
}
.shop .top_movie_item_heading {
  font-family: serif;
  font-size: 26px;
  text-align: center;
}
@media (max-width: 1000px) {
  .shop .top_movie_item_heading {
    font-size: 2rem;
  }
}
.shop .top_movie_item_txt {
  max-width: auto;
  text-align: center;
}
.shop .top_movie_item_video {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 49.1rem;
  width: 87.2rem;
  border-radius: 0;
  background: #e4ebe8;
}
@media (max-width: 1000px) {
  .shop .top_movie_item_video {
    height: 18.7rem;
    width: 33.2rem;
    border-radius: 0;
  }
}
.shop .top_product_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 4.8rem;
  text-align: right;
  margin-bottom: 0;
} 
.shop .top_product_heading_wrapper {
  margin-bottom: 35px;
}
.shop .top_product_sub-heading {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  text-align: right;
  color: rgba(5, 74, 40, 0.4);
  margin-top: 10px;
}


@media (max-width: 1000px) {
  .shop .top_product_heading {
    font-size: 3rem;
  }
}
.shop .top_product_heading::before {
  content: "";
  display: block;
  height: 1px;
  width: 26.1rem;
  margin-right: 1.5rem;
  background: -webkit-gradient(linear, right top, left top, from(rgba(5, 74, 40, 0.55)), color-stop(35.96%, rgba(211, 223, 217, 0.92)), to(#fff));
  background: linear-gradient(to left, rgba(5, 74, 40, 0.55) 0%, rgba(211, 223, 217, 0.92) 35.96%, #fff 100%);
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .shop .top_product_heading::before {
    width: 10rem;
    margin-right: 0.5rem;
  }
}
.shop .top_product_heading_wrapper {
  margin-bottom: 35px;
}
.shop .top_product_tab li {
  background-color: #e4ebe8;
}
.shop .top_product_tab li:not(:first-child) {
  border-left: 1px solid #fff;
}
.shop .top_product_tab li.active {
  background-color: #7a7e7c;
  color: #fff;
}
.shop .top_blog {
  padding: 0 0 50px;
}
@media (max-width: 1000px) {
  .shop .top_blog {
    padding: 0 2.5rem;
  }
}
.shop .top_blog_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.8em;
  text-align: left;
  margin-bottom: 0;
}
.shop .top_blog_heading_wrapper {
  margin-bottom: 35px;
}
.shop .top_blog_sub-heading {
  display: block;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  color:rgba(5, 74, 40, 0.4);
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .shop .top_blog_heading {
    font-size: 3rem;
  }
}
.shop .top_blog_heading::after {
  content: "";
  display: block;
  height: 1px;
  width: 26.1rem;
  margin-left: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(5, 74, 40, 0.55)), color-stop(35.96%, rgba(211, 223, 217, 0.92)), to(#fff));
  background: linear-gradient(to right, rgba(5, 74, 40, 0.55) 0%, rgba(211, 223, 217, 0.92) 35.96%, #fff 100%);
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .shop .top_blog_heading::after {
    width: 10rem;
    margin-left: 0.5rem;
  }
}
.shop .top_blog_item_heading {
  font-family: serif;
  line-height: 1.3;
}
.shop .top_blog_item_date {
  color: rgba(51, 56, 57, 0.46);
  font-family: "roboto";
  font-size: 18px;
}
.shop .top_blog_item_tag {
  color: #fff;
}
.shop .top_blog_item_img.new::after {
  background: url("../../img/shop_botanical/icons/new.svg") top no-repeat;
}
.shop .top_news_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 4.8rem;
  text-align: right;
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  .shop .top_news_heading {
    font-size: 3rem;
  }
}
.shop .top_news_heading::before {
  content: "";
  display: block;
  height: 1px;
  width: 26.1rem;
  margin-right: 1.5rem;
  background: -webkit-gradient(linear, right top, left top, from(rgba(5, 74, 40, 0.55)), color-stop(35.96%, rgba(211, 223, 217, 0.92)), to(#fff));
  background: linear-gradient(to left, rgba(5, 74, 40, 0.55) 0%, rgba(211, 223, 217, 0.92) 35.96%, #fff 100%);
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .shop .top_news_heading::before {
    width: 10rem;
    margin-right: 0.5rem;
  }
}
.shop .top_news_item {
  margin-top: 0;
  background-color: #fff;
}
@media (max-width: 1000px) {
  .shop .top_news_item {
    background-color: transparent;
  }
}
.shop .top_news_item:not(:first-of-type) {
  margin-top: 40px;
}
@media (max-width: 1000px) {
  .shop .top_news_item:not(:first-of-type) {
    margin-top: 1.5rem;
  }
}
.shop .top_news_item_heading {
  font-family: serif;
}
.shop .top_news_item_date {
  color: rgba(51, 56, 57, 0.46);
}
.shop .top_news_item_tag {
  color: #fff;
}
.shop .top_news_item_img.new::after {
  background: url("../../img/shop_botanical/icons/new.svg") top no-repeat;
}
.top_news_heading_wrapper {
  margin-bottom: 35px;
}
.shop .top_news_sub-heading {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  color:rgba(5, 74, 40, 0.4);
  text-align: right;
  display: block;
  margin-top: 10px;
  display: block;
}

.shop .top_coupon_heading, .shop .top_fanclub_news_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.8em;
  text-align: left;
  margin-bottom: 0;
}
.shop .top_coupon_heading_wrapper, .shop .top_fanclub_news_heading_wrapper {
  margin-bottom: 35px;
}
.shop .top_coupon_heading_wrapper::after {
  content: "クーポン";
  display: block;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  color:rgba(5, 74, 40, 0.4);
  margin-top: 10px;
}
.shop .top_fanclub_news_heading_wrapper::after {
  content: "ショップ ファンクラブ会員限定のお知らせ";
  display: block;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  color:rgba(5, 74, 40, 0.4);
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .shop .top_coupon_heading, .shop .top_fanclub_news_heading {
    font-size: 3rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    display: block;
  }
  .shop .top_coupon_heading_wrapper::after, .shop .top_fanclub_news_heading_wrapper::after {
    margin-left: 2.5rem;
  }
}
.shop .top_coupon_heading::after, .shop .top_fanclub_news_heading::after {
  content: "";
  display: block;
  height: 1px;
  width: 26.1rem;
  margin-left: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(5, 74, 40, 0.55)), color-stop(35.96%, rgba(211, 223, 217, 0.92)), to(#fff));
  background: linear-gradient(to right, rgba(5, 74, 40, 0.55) 0%, rgba(211, 223, 217, 0.92) 35.96%, #fff 100%);
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .shop .top_coupon_heading::after, .shop .top_fanclub_news_heading::after {
    width: 10rem;
    margin-left: 0.5rem;
  }
}
.shop .top_coupon_item_mask {
  -webkit-mask-image: url("../../img/shop_botanical/d.svg"), url("../../img/shop_botanical/t.svg");
          mask-image: url("../../img/shop_botanical/d.svg"), url("../../img/shop_botanical/t.svg");
}
.shop .top_coupon_item_mask-2 {
  -webkit-mask-image: url("../../img/shop_botanical/d.svg"), url("../../img/shop_botanical/t.svg"), url("../../img/shop_botanical/r.svg"), url("../../img/shop_botanical/l.svg");
          mask-image: url("../../img/shop_botanical/d.svg"), url("../../img/shop_botanical/t.svg"), url("../../img/shop_botanical/r.svg"), url("../../img/shop_botanical/l.svg");
}
.shop .top_coupon_item_heading {
  color: #333;
}
.shop .top_coupon_item_txt {
  color: #333;
}
.shop .top_coupon_item_date {
  color: #979da3;
}
@media (max-width: 1000px) {
  .shop .top_coupon_item_date {
    color: #333;
  }
}
.shop .top_coupon_item_tag {
  color: #333;
}
.shop .top_coupon_item_info li {
  color: #979da3;
}
@media (max-width: 1000px) {
  .shop .top_coupon_item_info li {
    color: #333;
  }
}
.shop .top_coupon_item_note {
  border-top: 1px dashed #979da3;
  color: #979da3;
}
@media (max-width: 1000px) {
  .shop .top_coupon_item_note {
    color: #333;
  }
}
.shop .top_coupon_item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1000px) {
  .shop .top_coupon_item_img {
    display: none;
  }
}
.shop .top_coupon_item_ribbon {
  position: absolute;
  bottom: -3px;
  right: -3px;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}
@media (max-width: 1000px) {
  .shop .top_coupon_item_ribbon {
    left: -0.3rem;
    bottom: -0.3rem;
    right: auto;
    height: 10rem;
    width: 10rem;
  }
  .shop .top_coupon_item_ribbon svg {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .shop .top_coupon .top_more {
    margin-right: 2rem;
  }
}
.shop .top_fanclub_heading {
  margin-bottom: 35px;
  color: rgba(5, 74, 40, 0.4);
  font-family: "Playfair Display", serif;
  font-size: 5.4rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
}
@media (max-width: 1000px) {
  .shop .top_fanclub_heading {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }
}
.shop .top_fanclub_heading::after {
  content: "ショップ ファンクラブ";
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
}
@media (max-width: 1000px) {
  .shop .top_fanclub_heading::after {
    display: block;
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
.shop .top_fanclub_txt {
  color: #467960;
}
.shop .top_fanclub_btn-about {
  border: 1px solid #467960;
  background-color: #fff;
}
.shop .top_fanclub_btn-join a {
  border-radius: 0;
  background-color: #7a7e7c;
  color: #fff;
}
.shop .top_fanclub_btn-join a::after {
  background: url("../../img/shop_botanical/icons/chevron-right-w.svg") center no-repeat;
}
.shop .top_fanclub_shop_heading {
  font-family: serif;
}
.shop .top_fanclub_coupon {
  padding: 0 0 75px;
}
.shop .top_fanclub_coupon_heading {
  background-color: #e4ebe8;
}
.shop .top_mailMagazine {
  padding: 40px 0 80px;
}
.shop .top_mailMagazine_heading {
  margin-bottom: 35px;
  color: rgba(5, 74, 40, 0.4);
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  font-size: 5.4rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
}
@media (max-width: 1000px) {
  .shop .top_mailMagazine_heading {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }
}
.shop .top_mailMagazine_heading::after {
  content: "メールマガジン";
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
}
@media (max-width: 1000px) {
  .shop .top_mailMagazine_heading::after {
    display: block;
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
.shop .top_mailMagazine_txt {
  color: #467960;
  font-weight: normal;
}
.shop .top_mailMagazine_txt::before {
  width: 1px;
  background-color: #467960;
}
.shop .top_mailMagazine_txt::after {
  width: 1px;
  background-color: #467960;
}
.shop .top_mailMagazine_body {
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #467960;
}
.shop .top_mailMagazine_body figure figcaption {
  color: #467960;
}

@media (max-width: 1000px) {
  .shop .product {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}
.shop .product_search {
  background-color: #7a7e7c;
  color: #fff;
}
.shop .product_search::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  background: url("../../img/shop_botanical/icons/search.svg") center no-repeat;
}
.shop .product_filtering li {
  background-color: #fff;
}
.shop .product_filtering li::after {
  background: url("../../img/shop_botanical/icons/close-s.svg") center no-repeat;
}
.shop .product_drawer {
  background-color: #e4ebe8;
}
.shop .product_drawer_page {
  background-color: #e4ebe8;
}
.shop .product_drawer_header_heading {
  color: #467960;
  font-family: serif;
}
.shop .product_drawer_header_heading_prev {
  height: 1.6rem;
  width: 0.9rem;
  background: url("../../img/shop_botanical/icons/chevron-left.svg") center no-repeat;
}
.shop .product_drawer_keyword input {
  background-color: #fff;
}
.shop .product_drawer_list {
  border-bottom: 1px solid #fff;
  color: #467960;
  font-family: serif;
}
.shop .product_drawer_list li {
  border-top: 1px solid #fff;
}
.shop .product_drawer_list_next::after {
  background: url("../../img/shop_botanical/icons/chevron-right.svg") center no-repeat;
}
.shop .product_drawer_list_ec::before {
  background: url("../../img/shop_botanical/icons/ec-l.svg") center/contain no-repeat;
}
.shop .product_drawer_list_ticket::before {
  background: url("../../img/shop_botanical/icons/ticket-l.svg") center/contain no-repeat;
}
.shop .product_drawer_list_gourmet::before {
  background: url("../../img/shop_botanical/icons/gourmet-l.svg") center/contain no-repeat;
}
.shop .product_drawer_list_beauty::before {
  background: url("../../img/shop_botanical/icons/beauty-l.svg") center/contain no-repeat;
}
.shop .product_drawer_list_farm::before {
  background: url("../../img/shop_botanical/icons/farm-l.svg") center/contain no-repeat;
}
.shop .product_drawer_submit {
  background-color: #7a7e7c;
  color: #fff;
}
.shop .product_nav a {
  background-color: #e4ebe8;
}
.shop .product_nav a:hover[href] {
  background-color: #979da3;
  color: #fff;
  font-weight: bold;
}
.shop .product_content_header {
  border-bottom-color: #7a7e7c;
}
.shop .product_content_heading {
  border-bottom: 1px solid #7a7e7c;
  color: #7a7e7c;
  font-family: serif;
}
.shop .product_content_heading-ec::before {
  background: url("../../img/shop_botanical/icons/ec.svg") center/contain no-repeat;
}
.shop .product_content_heading-ticket::before {
  background: url("../../img/shop_botanical/icons/ticket.svg") center/contain no-repeat;
}
.shop .product_content_heading-gourmet::before {
  background: url("../../img/shop_botanical/icons/gourmet.svg") center/contain no-repeat;
}
.shop .product_content_heading-beauty::before {
  background: url("../../img/shop_botanical/icons/beauty.svg") center/contain no-repeat;
}
.shop .product_content_heading-farm::before {
  background: url("../../img/shop_botanical/icons/farm.svg") center/contain no-repeat;
}
.shop .product_content_list li {
  background-color: #fff;
}
.shop .product_content_list li:not(:first-child) {
  border-top: 1px solid rgba(228, 235, 232, 0.5);
}
.shop .product_content_list li span {
  background-color: #979da3;
  color: #fff;
}
.shop .product_content_list_nest::after {
  background: url("../../img/shop_botanical/icons/chevron-right.svg") center right no-repeat;
}
.shop .product_content_list_nest ul {
  background-color: #fff;
}
.shop .product_content_list_nest ul li {
  background-color: #edf2eb;
}
.shop .product_content_list_nest ul li:not(:last-child) {
  border-bottom: 1px solid #e4ebe8;
}
.shop .product_content_list_nest:hover {
  background-color: #e4ede1;
}
.shop .product_more {
  color: #333839;
}

@media (max-width: 1000px) {
  .shop .news {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}
.shop .news_item {
  border-radius: 0;
  background-color: #fff;
}
@media (max-width: 1000px) {
  .shop .news_item {
    padding: 1.5rem;
  }
}
.shop .news_item_heading {
  font-family: serif;
}
.shop .news_item_txt span {
  background-color: #fff;
}
@media (max-width: 1000px) {
  .shop .news_item_txt span {
    background: #f1f7ef;
  }
}
.shop .news_item_txt span:hover {
  color: rgba(70, 121, 96, 0.7);
}
.shop .news_item_date {
  color: rgba(70, 121, 96, 0.46);
  font-family: "roboto";
}
.shop .news_item_tag {
  color: #fff;
}
.shop .news_item_img.new::after {
  background: url("../../img/shop_corporation//icons/new.svg") top/contain no-repeat;
}
.shop .news_item_more span::after {
  background: url("../../img/shop_botanical/icons/angle-down.svg") center no-repeat;
}

@media (max-width: 1000px) {
  .shop .company {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}
.shop .company_kv_txt {
  font-family: serif;
}
.shop .company_mission_heading {
  color: rgba(122, 126, 124, 0.7);
  font-family: "roboto";
}
.shop .company_vision_heading {
  color: rgba(122, 126, 124, 0.7);
}
.shop .company_message_content_txt {
  font-family: serif;
}
.shop .company_profile_table th {
  border-bottom: 1px solid rgba(51, 56, 57, 0.2);
}

@media (max-width: 1000px) {
  .shop .profile {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}
.shop .profile_table tr:first-child th,
.shop .profile_table tr:first-child td {
  font-family: serif;
}
@media (min-width: 1001px) {
  .shop .profile_table tr:first-child th,
  .shop .profile_table tr:first-child td {
    border-top: 1px solid rgba(70, 121, 96, 0.3);
  }
  .shop .company_profile_table td {
    border-bottom: 1px solid rgba(51, 56, 57, 0.2);
  }  
}
@media (max-width: 1000px) {
  .shop .profile_table tr:first-child th {
    border-top: 1px solid rgba(70, 121, 96, 0.3);
  }
}
.shop .profile_table th {
  border-bottom: 1px solid rgba(70, 121, 96, 0.3);
  font-family: serif;
}
@media (max-width: 1000px) {
  .shop .profile_table th {
    border-bottom: 0;
  }
}
.shop .profile_table td {
  font-family: serif;
  border-bottom: 1px solid rgba(70, 121, 96, 0.3);
}
.shop .profile_tokusho_heading {
  color: rgba(5, 74, 40, 0.5);
}
.shop .profile_tokusho_table {
  border: 1px solid #d8dbd7;
  background-color: #fff;
  font-family: serif;
}
.shop .profile_tokusho_table thead {
  background-color: #e4ebe8;
}
.shop .profile_tokusho_table thead th {
  color: #333839;
  font-family: serif;
}
.shop .profile_tokusho_table tbody th,
.shop .profile_tokusho_table tbody td {
  border-top: 1px solid #d8dbd7;
}
.shop .profile_tokusho_table tbody td {
  border-left: 1px solid #d8dbd7;
}

@media (max-width: 1000px) {
  .shop .blog {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}
.shop .blog_item {
  border-radius: 0;
  background-color: #fff;
}
.shop .blog_item_heading {
  font-family: serif;
}
.shop .blog_item_date {
  color: rgba(56, 59, 61, 0.46);
}
.shop .blog_item_tag {
  color: #fff;
}
.shop .blog_item_tag .shop_bg-uniqueTag {
  background-color: #99b6a5;
}
.shop .blog_item_img.new::after {
  background: url("../../img/shop_corporation/icons/new.svg") top no-repeat;
}
.shop .blog_side_heading {
  border-bottom: 1px solid rgba(122, 126, 124, 0.5);
  font-family: serif;
}
.shop .blog_side_category li a {
  font-family: serif;
}
.shop .blog_side_keywords li a {
  background-color: rgba(5, 74, 40, 0.5);
  color: #fff;
}
.shop .blog_sp_category ul li a {
  background-color: #e4ebe8;
}
.shop .blog_sp_category[data-type='module-1'] ul li a.module-1,
.shop .blog_sp_category[data-type='module-4'] ul li a.module-4,
.shop .blog_sp_category[data-type='module-6'] ul li a.module-6,
.shop .blog_sp_category[data-type='module-7'] ul li a.module-7,
.shop .blog_sp_category ul li a.active {
  background-color: #7a7e7c;
  color: #fff;
  font-weight: bold;
}
.shop .blog_sp_keywords_items li a {
  background-color: rgba(5, 74, 40, 0.5);
  color: #fff;
}

@media (max-width: 1000px) {
  .shop .fanclub {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}

.shop .fanclub .shop_bg-grad {
  background: #fcfffa;
}
.shop .fanclub_item {
  border-radius: 0;
  background-color: #fff;
}
.shop .fanclub_item_heading {
  font-family: serif;
}
.shop .fanclub_item_txt span {
  background-color: #fcfffa;
}
.shop .fanclub_item_txt span:hover {
  color: rgba(70, 121, 96, 0.7);
}
.shop .fanclub_item_tag {
  color: #fff;
}
.shop .fanclub_item_img.new::after {
  background: url("../../img/shop_botanical/icons/new.svg") top/contain no-repeat;
}
.shop .fanclub_item_date {
  color: rgba(70, 121, 96, 0.46);
  font-family: "roboto";
}
.shop .fanclub_item_more span::after {
  background: url("../../img/shop_botanical/icons/chevron-right.svg") center no-repeat;
}

.shop .fanclub_detail {
  background-color: #fff;
  border-radius: 0;
}
.shop .fanclub_detail_paginate ul li a {
  background-color: #e4ebe8;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.shop .fanclub_detail_paginate ul li:nth-child(1) a::before {
  background: url("../../img/shop_botanical/icons/pagination-prev.svg") center no-repeat;
}
.shop .fanclub_detail_paginate ul li:nth-child(3) a::after {
  background: url("../../img/shop_botanical/icons/pagination-next.svg") center no-repeat;
}

.shop_bg-uniqueTag {
  background-color: #99b6a5;
}
.shop .freepage_page {}
.shop .blog_detail_page {
  border-radius: 0;
}
.shop .freepage_date,
.shop .blog_detail_date {
  color: rgba(56, 59, 61, 0.46);
}
.shop .freepage_ttl,
.shop .blog_detail_ttl {
  font-family: serif;
}
.shop .blog_detail_pagination_anchor {
  background-color: #e4ebe8;
}
.shop .blog_detail_pagination_anchor:first-child::after, .shop .blog_detail_pagination_anchor:last-child::after {
  border-color: #333839;
}
.shop .blog_related_heading {
  color: rgba(5, 74, 40, 0.65);
}
.shop .blog_related_item {
  border-radius: 0;
}
.shop .blog_related_item_heading {
  font-family: serif;
}
.shop .blog_related_item_date {
  color: rgba(56, 59, 61, 0.46);
}
.shop .blog_related_item_img {
  border-radius: 0;
}
.shop .blog_related_item_img.new::after {
  background: url("../../img/shop_botanical/icons/new.svg") top no-repeat;
}
.shop .top_pickup .shop_list img {
  border-radius: 0;
}

@media (max-width: 1000px) {
  .shop .coupon {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}
@media (min-width: 1001px) {
  .shop .coupon_heading h2 {
    color: #7a7e7c;
    font-family: serif;
  }
}
.shop .coupon .coupon-page-tabBtn {
  background-color: #e4ebe8;
  color: #383b3d;
}
.shop .coupon .coupon-page-tabBtn:hover {
  background-color: #7a7e7c;
  color: #fff;
  font-weight: bold;
}
.shop .coupon .btn-getCoupon {
  border: 1px solid #333;
  background-color: #fff;
}
.shop .coupon_drawer {
  background-color: #e4ebe8;
}
.shop .coupon_drawer_page {
  background-color: #e4ebe8;
}
.shop .coupon_drawer_header_heading {
  color: #467960;
  font-family: serif;
}
.shop .coupon_drawer_keyword input {
  background-color: #fff;
}
.shop .coupon_drawer_list {
  border-bottom: 1px solid #fff;
  color: #467960;
  font-family: serif;
}
.shop .coupon_drawer_list li {
  border-top: 1px solid #fff;
}
.shop .coupon_drawer_list_next::after {
  background: url("../../img/shop_botanical/icons/chevron-right.svg") center no-repeat;
}
.shop .coupon_drawer_submit {
  padding: 1.5em 1em;
  border-radius: 0.4rem;
  background-color: #7a7e7c;
  color: #fff;
  font-weight: bold;
}

/* ヒーロー画像エリア: shop共通のスタイルを上書きする */
.shop .l-mainContainer.top {
  padding-top: 1.5rem;
}

@media (min-width: 1001px) {
  .shop .l-mainContainer.top {
    padding-top: calc(88px + 1.5rem);
  }
}

/**
 * ブログ記事詳細
 */
.shop .blog_detail_content blockquote,
.shop .blog_detail_content th,
.shop .blog_detail_content td {
  border-color: #333839;
}

/**
 * トップ メッセージ
 */
.top_overview_about {
  border-top-color: #E0EAE2;
}
.top_overview_about::before {
  background-image: url(../../img/shop_botanical/icons/angle-down.svg);
}

/**
 * ショップ情報・お問い合わせボタン
 */
 .shop .top_info-contact {
  background-color: #fdfefc;
}
.shop .top_info-contact .top_info_btn,
.shop .top_info-contact .top_contact_btn,
.shop .top_info-contact .top_menu_btn {
  background-color: rgba(5, 74, 40, 0.5);
  color: #fff;
  border: none;
}
.shop .top_info-contact .top_menu_btn span {
  font-family: "Playfair Display", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, serif;
  text-transform: uppercase;
}

/**
 * featureセクションの文字色
 */
 .feature-block__contents {
  margin-top: 0;
  color: #333839;
}

/**
 * メルマガバルーンの色・背景色
 */
 .top_mailMagazine_balloon {
  color: #383B3D;
  background: #E4EBE8;
}
.top_mailMagazine_balloon::before {
  border-bottom: 15px solid #E4EBE8;
}

/**
 * fanclubNewsDetail.php article内の日付の色変更
 */
.shop .fanclub_detail_date {
  color: rgba(70, 121, 96, 0.46);
  font-family: "roboto";
}

/**
 * メルマガアイコン
 * 登録前後で動画切り替え
 */
 .shop .drawer_header_mailmag span:first-of-type::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url(../../img/shop_botanical/merumaga_before.svg) no-repeat;
  background-size: contain;
  margin-right: 8px;
  position: absolute;
  left: -22px;
  top: -2px;
}

.shop .drawer_header_mailmag.active span:last-of-type::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url(../../img/shop_botanical/merumaga_after.svg) no-repeat;
  background-size: contain;
  margin-right: 8px;
  position: absolute;
  left: -22px;
  top: -2px;
}

/**
 * ページャー
 */
 .shop_pagination ul li.active {
  background-color: #7a7e7c;
  color: #fff;
  border-radius: 3px;
}